// etar moddhe amader kichu default styling jegula thake .. oi gula reset korbo
// jemon amar anchor er text decoration none kore dibo shob jaygar jonno 
a{
    text-decoration: none;
}
body {
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
}